#{extends 'main.html' /}
#{set title: messages.get('planner.title') +' - ' + guildTitle /}
#{js 'planner.js' /}
#{css 'planner.css colorbox.css' /}

<div class="box">
	<div class="artheadline" style="background: black url(${play.configuration.getProperty("conf.artworksdir")}sunrise.jpg) no-repeat top center  !important;">
		<div class="artheadlinshadow">
			<div class="postdate"></div>
			<h2 class="post-title">
				<a href="@{Planner.index()}">&{'planner.title'}</a>
			</h2>
			<span class="post-subtitle">vom ${displayMonth.start.format('dd. MM. yyyy', 'de')} bis zum ${displayMonth.end.format('dd. MM. yyyy', 'de')}</span>
		</div>
	</div>
	<div class="page clear">
		<div class="page-content">
			#{list items:displayMonth.weeks.values(), as:'plannerWeek'}
			<div class="planner planner-week">
				*{write: ${plannerWeek.week} <br/>}*
				#{list items:plannerWeek.days.values(), as:'plannerDay'}
				<div id="planner-day-${plannerDay.date.format('ddMMyyyy')}" class="planner-day left#{if plannerDay.date.getMonth()+1 != displayMonth.month} planner-transparent#{/if}#{if plannerDay.date.format('ddMMyyyy').equals(new Date().format('ddMMyyyy'))} planner-now#{/if}">
				<div class="planner-day-number">${plannerDay.date.format('dd', 'de')}</div>
				<div class="planner-info">+</div>
				<div class="planner-event-list">
					#{list items:plannerDay.events, as:'event'}
						<a href="@{Planner.event(event.id)}" class="planner-event ${event.type}">${event.title}</a>
						<style type="text/css">
							#planner-day-${plannerDay.date.format('ddMMyyyy')} {
								background: black url(/public/images/events/${event.type.image}) no-repeat top center  !important;
							}
						</style>
					#{/list}
				</div>
				</div>
				#{/list}
			</div>
			#{/list}
			<div class="colBreak clear"></div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$(".planner-event").colorbox();
	});
</script>