#{extends 'main.html' /} 
#{set title: avatar.name + ' von ' + (avatar.isGuildMember ? guildTitle : avatar.guild?.name) /}
#{set keywords: avatar.getKeywords().raw() /}
#{set description: avatar.getDescription().raw() /}
#{js "char" /}
#{css "char" /}
<div class="box">
	<div class="artheadline" style="background: black url(${avatar.getAvatarBanner()})  no-repeat top center;">
		<div class="artheadlinshadow">
			<div class="postdate" style="width: 40px;">
				<!-- <img class="noborder" style="margin-top:3px;" src="/public/images/level/${avatar.level}.png" height="38" width="38" alt="${avatar.name}s Level" />
				<img class="noborder" src="/public/images/race/${avatar.race.crId}_${avatar.gender.gId}.png" height="38" width="38" alt="${avatar.name}s Rasse" />
				<img class="noborder" src="/public/images/class/${avatar.cclass.ccId}.png" height="38" width="38" alt="${avatar.name}s Klasse" /> -->
			</div>
			<h2 class="post-title">
				<a href="@{Char.show(avatar.id, avatar.name, avatar.realm.name)}">${avatar.name}</a>
			</h2>
			<span class="post-subtitle">${avatar.guild?.name}</span>
		</div>
	</div>
	<div class="post">

		<div class="clear"></div>
		<div class="" style="height: 550px; width: 710px; background: transparent url(${avatar.getProfileMain()})  no-repeat -40px center;">
			<div style="position: absolute; height: 550px; width: 710px; background: transparent url(/public/images/static/profilemain/overlay.png) no-repeat top center;">
			<div id="summary-inventory" class="summary-inventory summary-inventory-advanced">
				#{if items.size() > 0}
				#{list items:items, as:'item'}
				<div class="slot slot-${item.itemSlot.slot.getMappedSlot()} slot-align-${item.itemSlot.layout.itemTextSide} item-quality-${item.item.itemQuality.qualityId}" style="#{if !item.itemSlot.layout.isBottom}${item.itemSlot.layout.itemSide}: 0px; top: ${item.itemSlot.layout.itemPlace}px#{/if}#{else}left: ${item.itemSlot.layout.itemPlace}px; bottom: 0px#{/else};">
					<div class="slot-inner">
					<div class="slot-contents">
					<a href="@{Char.showItem(item.item?.itemId)}" class="item" rel="@{Char.showArmoryItemTooltip(item.id)}"><img src="/public/images/static/icons/${item.item.icon.icon.toLowerCase()}.png" alt="" /><span class="frame"></span></a>
						#{if item.transmogItem}<a class="transmog-frame" href="@{Char.showItem(item.transmogItem?.itemId)}" rel="@{Char.showItemTooltip(item.transmogItem?.itemId)}"></a>#{/if}
						<div class="details">
							<span class="name-shadow">${item.item.name}</span>
							<span class="name color-q${item.item.itemQuality.qualityId}">
								<a href="@{Char.showItem(item.item?.itemId)}" class="q${item.item.itemQuality.qualityId}">${item.item.name}</a>
							</span>
							<span class="enchant-shadow"></span>
						</div>
					</div>
					</div>
				</div>
				#{/list}
				#{/if}				
			</div>
			</div>
		</div>
		#{if session.username && user != null}
		<ul class="buttons right">
		   	<li class="button"><a href="@{Member.message(avatar.id)}#tab-new-pm">Private Nachricht</a></li>
		   	<li class="button"><a href="@{Service.updateAvatar(avatar.id)}">Aktualisieren</a></li>
		</ul><div class="clear"></div>
		<br>
		#{/if}
     		<ul class="tabs">
		    	<li class="tab headline">Raidaktivität</li>
		    </ul>
		    <div class="thinline"></div>     
		

        	
        	<div class="avatar left" style="padding-right: 10px;">
					#{avatar avatar:avatar, as:'avatar' /}
			
			</div>
        	<div>${avatar.name}s Raidübersicht, hier findest du Informationen darüber welche Items ${avatar.name} bekommen hat, an welchen Raids ${avatar.name} teilgenommen hat und einige Statistiken.
					<br>
					<br>
			</div>
        	<div class="clear"></div>
        	<div style="width:50%; float:left;">

				<table cellpadding="0" style="width:100%;" cellspacing="0" border="0" class="display" id="example">
				<thead>
					<tr>
						<th width="100"></th>
						<th style="text-align: right;">Zonen</th>
						<th style="text-align: right;">Bosse</th>
					</tr>
				</thead>
				<tbody>
				#{list items:raids, as:'raid'}
					<tr>
						<td style="text-align: left;"><span title="${raid.startDate.format('HH:mm')}">${raid.startDate.format('dd. MMMM yyyy', 'de')}</span></td>
						<td style="text-align: right;">#{list items:raid.zonen, as:'zonen'}<a href="@{RaidTracker.showRaid(raid.id)}" class="" target="_self">${zonen.name}</a> #{/list}</td>
						<td style="text-align: right;">${raid.bosse.size()}</td>
					</tr>									
					#{/list}
				</tbody>
				</table>
			</div>
			<div style="width:50%; float:right;">
				<table cellpadding="0" style="width:100%;" cellspacing="0" border="0" class="display" id="example">
				<thead>
					<tr>
						<th width="100"></th>
						<th style="text-align: right;">Item</th>
					</tr>
				</thead>
				<tbody>
				#{list items:raidItems, as:'item'}
					<tr>
						<td style="text-align: right;"><span title="${item.time.format('HH:mm')}">${item.time.format('dd. MMMM yyyy', 'de')}</span></td>
						<td style="text-align: right;"><a href="@{RaidTracker.showRaidItem(item.id)}" class="item q${item.item.itemQuality.qualityId}" rel="@{RaidTracker.showItem(item.item.id)}" target="_self">${item.name}</a></td>
					</tr>									
					#{/list}
				</tbody>
				</table>
			</div>
			<div class="clear"></div>
			<br>
     		<ul class="tabs">
		    	<li class="tab headline">Twinks</li>
		    </ul>
		    <div class="thinline"></div>
		    #{if avatarUser != null && avatarUser.alts.size() > 0}  		
     		<div class="roster">
        	%{cnt = 0}%
			#{list items:avatarUser.alts, as:'member'}
			#{if cnt == 0}<div class="avatar_row">#{/if}
				<div class="avatar_box #{if cnt == 0}avatar_box_first#{/if}#{elseif cnt == 6}avatar_box_last#{/elseif}">
				#{avatar avatar:member, as:'avatar_with_class_icon' /}
				</div>
			#{if cnt == 6 || member_isLast}</div>#{/if}
				%{cnt++; if(cnt == 7) cnt=0;}%
			#{/list}
			</div>
     		#{/if}#{else}<div style="text-align: center; width: 100%;"><h3>${avatar.name} hat bisher keine Twinks angegeben!</h3>#{if session.username && user != null}<br>Dein Charakter? <a href="@{Member.addAlt(avatar.name,avatar.id)}">Hinzufügen!</a>#{/if}</div>#{/else}
     		<div class="colBreak"></div>
     		<br>
	</div>
</div>