#{extends 'main.html' /} 
#{set title: avatar.name + ' von ' + (avatar.isGuildMember ? guildTitle : avatar.guild.name) /}
#{js "char" /}
#{css "char" /}
<div class="box">
	<div class="artheadline" style="background: black url(${avatar.getAvatarBanner()})  no-repeat top center;">
		<div class="artheadlinshadow">
			<div class="postdate" style="width: 40px;">
				<!-- <img class="noborder" style="margin-top:3px;" src="/public/images/level/${avatar.level}.png" height="38" width="38" alt="${avatar.name}s Level" />
				<img class="noborder" src="/public/images/race/${avatar.race.crId}_${avatar.gender.gId}.png" height="38" width="38" alt="${avatar.name}s Rasse" />
				<img class="noborder" src="/public/images/class/${avatar.cclass.ccId}.png" height="38" width="38" alt="${avatar.name}s Klasse" /> -->
			</div>
			<h2 class="post-title">
				<a href="@{Char.show(avatar.name)}">${avatar.name}</a>
			</h2>
			<span class="post-subtitle">${avatar.guild?.name}</span>
		</div>
	</div>
	<div class="post">

		<div class="clear"></div>
		<div class="" style="height: 550px; width: 710px; background: transparent url(${avatar.getProfileMain()})  no-repeat -40px center;">
			<div style="position: absolute; height: 550px; width: 710px; background: transparent url(/public/images/static/profilemain/overlay.png) no-repeat top center;">
			<div id="summary-inventory" class="summary-inventory summary-inventory-advanced">
				#{if items.size() > 0}
				#{list items:items, as:'item'}
				<div class="slot slot-${item.itemSlot.slot.getMappedSlot()} slot-align-${item.itemSlot.layout.itemTextSide} item-quality-${item.item.itemQuality.qualityId}" style="#{if !item.itemSlot.layout.isBottom}${item.itemSlot.layout.itemSide}: 0px; top: ${item.itemSlot.layout.itemPlace}px#{/if}#{else}left: ${item.itemSlot.layout.itemPlace}px; bottom: 0px#{/else};">
					<div class="slot-inner">
					<div class="slot-contents">
					<a href="@{Char.showItem(item.item?.itemId)}" class="item" rel="@{Char.showArmoryItemTooltip(item.id)}"><img src="/public/images/static/icons/${item.item.icon.icon.toLowerCase()}.png" alt="" /><span class="frame"></span></a>
						#{if item.transmogItem}<a class="transmog-frame" href="@{Char.showItem(item.transmogItem?.itemId)}" rel="@{Char.showItemTooltip(item.transmogItem?.itemId)}"></a>#{/if}
						<div class="details">
							<span class="name-shadow">${item.item.name}</span>
							<span class="name color-q${item.item.itemQuality.qualityId}">
								<a href="@{Char.showItem(item.item?.itemId)}" class="q${item.item.itemQuality.qualityId}">${item.item.name}</a>
							</span>
							<span class="enchant-shadow"></span>
						</div>
					</div>
					</div>
				</div>
				#{/list}
				#{/if}				
			</div>
			</div>
		</div>
		<div class="colBreak clear"></div>
		<div class="clear"></div>
	</div>
</div>