#{extends 'main.html' /}
#{set title: 'Mitgliederverzeichnis - ' + guildTitle /}
<div class="box">
	<div class="artheadline" style="background: black url(${play.configuration.getProperty("conf.artworksdir")}Nagrand.jpg) no-repeat top center  !important;">
		<div class="artheadlinshadow">
			<div class="postdate"></div>
    		<h2 class="post-title">
    			<a href="@{Roster.index()}">Mitgliederverzeichnis</a>
			</h2>
		</div>
	</div>
	<div class="post">
        <div class="post-content">
        	<form method="get" action="@{Roster.index()}" class="c_search">       
			<select name="rank">
				<option value="">Wähle einen Rang</option>
				#{list items:granks, as:'rank'}
				<option value="${rank.rank}"  #{if (params.rank != null && params.rank != "") && rank.rank.toLong() == params.rank.toLong()} selected="selected" #{/if} >${rank.name}</option>
				#{/list}
			</select>
			
			<select name="cclass">
				<option value="">Wähle einen Klasse</option>
				#{list items:cclasses, as:'classs'}
				<option value="${classs.ccId}" #{if (params.cclass != null && params.cclass != "") && classs.ccId.toLong() == params.cclass.toLong()} selected="selected" #{/if} >${classs.name}</option>
				#{/list}
			</select>
			
			<select name="race">
				<option value="">Wähle einen Rasse</option>
				#{list items:craces, as:'race'}
				<option value="${race.crId}" #{if (params.race != null && params.race != "") && race.crId.toLong() == params.race.toLong()} selected="selected" #{/if} >${race.name}</option>
				#{/list}
			</select>
			<input name="search" value="${params.search}"  type="text" size="30" maxlength="30">
			<a href="#" onclick="$('.c_search').submit(); return false;"></a>
     		</form>
     <div class="colBreak clear"></div>
     <br>
        	<div class="roster">
        	%{cnt = 0}%
			#{list items:members, as:'member'}
			#{if cnt == 0}<div class="avatar_row">#{/if}
				<div class="avatar_box #{if cnt == 0}avatar_box_first#{/if}#{elseif cnt == 6}avatar_box_last#{/elseif}">
				#{avatar avatar:member, as:'member' /}
				</div>
			#{if cnt == 6 || member_isLast}</div>#{/if}
				%{cnt++; if(cnt == 7) cnt=0;}%
			#{/list}
			</div>
			<div class="clear"></div>
        </div>
	</div>
</div>
