#{extends 'main.html'/}

#{set title: profession?.name + ' - ' + guildTitle /}
#{js 'recipes.js jquery.dataTables.js' /}
#{css 'recipes.css char.css jquery.dataTables.css' /}

<div class="box">
	<div class="artheadline" style="background: black url(/public/images/recipes/professions/${profession?.name?.toLowerCase()}-banner.jpg) no-repeat top center  !important;">
		<div class="artheadlinshadow">
			<div class="postdate"></div>
			<h2 class="post-title">
				<a href="@{Recipes.index()}">${profession?.name}</a>
			</h2>
		</div>
	</div>
	<div class="post">
		<div class="post-content">
			<div style="width:100%;" class="datatable">
				<table cellpadding="0" cellspacing="0" border="0" style="width:100%;" class="display" id="datatable-${profession?.name}">
				<thead>
					<tr><th width="23px"></th>
						<th>Rezept</th>
						<th width="180px">Reagenzien</th>
						<th width="25">Fertigkeit</th>
						*{<th width="25">iLevel</th>}*
						<th width="25"></th>
					</tr>
				</thead>
				<tbody>
					#{list items:recipes, as:'recipe'}
					<tr>
						<td><a href="@{Service.showRecipe(recipe.id)}" rel="@{Service.showTooltip(recipe.tooltip.id,recipe.tooltip.type)}" class="item q${recipe.item?.itemQuality?.qualityId}" target="_self"><img alt="${recipe.name}" src="${recipe.icon.getImage()}" width="22px" height="22px" /></a></td>
						<td style="text-align: left;"><a href="@{Service.showRecipe(recipe.id)}" class="item q${recipe.item?.itemQuality?.qualityId ? recipe.item?.itemQuality?.qualityId : 1}" target="_self">${recipe.name.raw()}</a></td>
						<td>#{recipe_reagent_icon_list reagents:recipe.reagents, as:'reagents' /}</td>
						<td>#{if recipe.item}${recipe.profLevel}#{/if}</td>
						*{<td>#{if recipe.item}${recipe.item.level}#{/if}</td>}*
						*{<td><div class="recipe-holder">#{list items:recipe.avatars, as:'avatar'}#{name_with_link avatar:avatar, as:'icon' /}#{/list}</div></td>}*
						<td><a class="recipe-update" href="#${recipe.id}" rel="/ws/recipe/${recipe.spellId}/update"><span class="icon-refresh"/></span></a>&nbsp;&nbsp;<a class="recipe-remember" href="#${recipe.id}" rel="${recipe.id}"><span class="icon-shopping-cart"/></span></a> <a class="recipe-remove" href="#${recipe.id}" rel="${recipe.id}"><span id="recipe-${recipe.id}"/>${recipeIdCounts.get(recipe.id)}</span></a></td>
					</tr>
					#{/list}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th>Rezept</th>
						<th>Reagenzien</th>
						<th>Level</th>
						*{<th>iLevel</th>}*
						<th></th>
					</tr>
				</tfoot>
				</table>
			</div>
			<div class="clear"></div>
			<div class="shoppingcart" id="shoppingcart">
			#{if recipeShoppingCart}
			<br />
			<h2 class="nav_t">Warenkorb</h2>
			<div class="colBreak clear"></div>
			<br />
				#{recipe.shoppingcart shoppingCart:recipeShoppingCart, as:'recipe_row' /}
			#{/if}
			</div>
			<div class="colBreak clear"></div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#datatable-${profession?.name}').dataTable({
			"bProcessing" : true,
			"bStateSave" : true,
			"aaSorting": [[ 3, "desc" ]],
			"sPaginationType": "full_numbers",
			"aoColumnDefs": [ 
				{ "bSearchable": false, "bSortable": false, "bVisible": true, "aTargets": [ 0 ] },
				{ "bSearchable": false, "bSortable": false, "bVisible": true, "aTargets": [ 4 ] }
			],
			"oLanguage" : {
				"sUrl" : "/public/datatables_de_DE.txt"
			}
		});
	});
</script>