.prof-box {
	width: 50%;
	height: 240px;
	padding: 0;
	margin: 0;
}

.prof-alchemie { /* 	background-color: #ff0000; */
	
}

.prof-lederverarbeitung { /* 	background-color: #ffff00; */
	
}

.prof-ingenieurskunst { /* 	background-color: #ffffff; */
	
}

.prof-inschriftenkunde { /* 	background-color: #000000; */
	
}

.prof-juwelenschleifen { /* 	background-color: #0000ff; */
	
}

.prof-schmieden { /* 	background-color: #00ff00; */
	
}

.prof-schneiderei { /* 	background-color: #ff0000; */
	
}

.prof-verzaubern { /* 	background-color: #ffff00; */
	
}

.prof-box-content {
	width: 300px;
	margin: 0px auto;
}

.prof-box-content img {
	width: 300px;
	height: 200px;
	margin: 0px auto;
	border-color: #12202E;
	border-style: solid;
	border-width: 1px;
}

table.dataTable td {
	padding: 0;
	padding-left: 13px;
	vertical-align: middle;
	text-align: center;
	height: 40px;
}

.reagent,.items,.shoppingcart-reagent {
	position: relative;
	margin-right: 5px;
}

.reagent-count,.item-count,.shoppingcart-reagent-count {
	right: 2px;
	bottom: -2px;
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-align: right;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 2px black, 0 0 2px black, 0 0 1px black;
}

.recipe-holder img {
	margin-right: 5px;
}

.shoppingcart-reagent-holder img {
	margin-right: 5px;
	margin-top: 5px;
	width: 40px;
	height: 40px;
}

.shoppingcart {
	position: relative;
}

.shoppingcart-reagent-count {
	right: 7px;
}
.shoppingcart-reagents {

}
.item-count {
	font-size: 40px;
	bottom: -10px;
	right: 45px;
}
.item-remove {
	position: absolute;
	font-size: 20px;
	top: 0px;
	left: 10px;
}
.crafter {
	height: 96px;
	-moz-column-gap: 20px;
	-moz-column-rule: rgba(102, 102, 102, 1) 1px solid;
	-moz-column-width: 200px;
	-webkit-column-gap: 0px;
	
	-webkit-column-width: 16px;
	column-gap: 20px;
	column-rule: rgba(102, 102, 102, 1) 1px solid;
	column-width: 200px;
}

.crafter img {
	margin-left: 2px;
	margin-bottom: 1px;
}

.datatable_icon {
	text-align: left !important;
}
.datatable_name {
	text-align: left !important;
}
.datatable_reagents {
	text-align: left !important;
}
.datatable_level {
	text-align: center !important;
}
.datatable_options {
	text-align: left !important;
}
.recipe-costs {
	padding-right: 10px;
}
