.classicon {
	background-color: transparent;
	background-repeat: no-repeat;
	padding:0;
	margin:0;
}

.classicon-left {
	padding-left: 16px;
}

.classicon-right {
	padding-right: 16px;
}

.classicon-small {
	background: transparent url(/public/images/world-of-warcraft/wow-icons.png) no-repeat top left;
	border: none;
	height: 16px;
	font-size:14px;
	width: 16px;
}

.classicon-small-druide {
	background-position: -170px 0px !important;
}

.classicon-small-mönch {
	background-position: -85px 0px !important;
}

.classicon-small-jäger {
	background-position: -136px 0px !important;
}

.classicon-small-magier {
	background-position: -102px 0px !important;
}

.classicon-small-paladin {
	background-position: -68px 0px !important;
}

.classicon-small-priester {
	background-position: -51px 0px !important;
}

.classicon-small-schurke {
	background-position: -17px 0px !important;
}

.classicon-small-schamane {
	background-position: -34px 0px !important;
}

.classicon-small-hexenmeister {
	background-position: -153px 0px !important;
}

.classicon-small-krieger {
	background-position: -119px 0px !important;
}

.classicon-small-todesritter {
	background-position: 0px 0px !important;
}

.class {
	padding: 0;
	margin: 0;
	display: inline;
	white-space: nowrap;
}

.class-druide {
	color: #ff7c0a !important;
}

.class-jäger {
	color: #aad372 !important;
}

.class-magier {
	color: #68ccef !important;
}

.class-paladin {
	color: #f48cba !important;
}

.class-priester {
	color: #f0ebe0 !important;
}

.class-schurke {
	color: #fff468 !important;
}

.class-schamane {
	color: #2359ff !important;
}

.class-hexenmeister {
	color: #9382c9 !important;
}

.class-krieger {
	color: #c69b6d !important;
}

.class-todesritter {
	color: #c41e3b !important;
}