.classicon {
	
	background-color: transparent;
	background-repeat: no-repeat;
}

.classicon-left {
	padding-left: 17px;
}

.classicon-right {
	padding-right: 17px;
}

.classicon-small {
	background-image: url(/public/images/world-of-warcraft/sprites/classes-16.png);
}

.classicon-small-druide {
	background-position: -17px 0px !important;
}

.classicon-small-schurke {
	background-position: -102px 0px !important;
}

.class {
	padding: 0;
	margin: 0;
	display: inline;
	white-space: nowrap;
}

.class-druide {
	color: #ff7c0a !important;
}

.class-schurke {
	color: #fff468 !important;
}

/* class 
.color-c1,.color-c1 a {
	color: #c69b6d !important;
} /* warrior 
.color-c2,.color-c2 a {
	color: #f48cba !important;
} /* paladin 
.color-c3,.color-c3 a,.color-g2 {
	color: #aad372 !important;
} /* hunter 
.color-c4,.color-c4 a,.color-g1 {
	color: #fff468 !important;
} /* rogue 
.color-c5,.color-c5 a {
	color: #f0ebe0 !important;
} /* priest 
.color-c6,.color-c6 a {
	color: #c41e3b !important;
} /* death knight 
.color-c7,.color-c7 a {
	color: #2359ff !important;
} /* shaman 
.color-c8,.color-c8 a,.color-g3 {
	color: #68ccef !important;
} /* mage 
.color-c9,.color-c9 a {
	color: #9382c9 !important;
} /* warlock */
.color-c11,.color-c11 a,.color-g4 {
	color: #ff7c0a !important;
} /* druid 