#{if _as == 'avatar'}
<div class="avatar">
	<div class="character-rank">
		#{if _avatar?.guildMember}<a href="@{Roster.index()}?rank=${_avatar?.guildMember?.rank?.rank}">
			<img class="noborder" src="/public/images/ranks/${_avatar?.guildMember?.rank?.rank}.png" height="16" width="16" alt="${_avatar?.guildMember?.name}s rank" />
		</a>#{/if}
	</div>
		#{name_with_link avatar:_avatar, as:'avatar', image:true /}
	<div class="character-name">
		#{name_with_link avatar:_avatar, as:'avatar', image:false /}
	</div>
</div>
#{/if}
#{if _as == 'avatar_with_class_icon'}
<div class="avatar">
	<div class="character-rank">
		<img class="noborder" src="/public/images/world-of-warcraft/class-icons/16/${_avatar?.cclass?.name?.toLowerCase()}.png" height="16" width="16" title="${_avatar?.cclass?.name}" alt="${_avatar?.cclass?.name}" />
	</div>
		#{name_with_link avatar:_avatar, as:'avatar', image:true /}
	<div class="character-name">
		#{name_with_link avatar:_avatar, as:'avatar', image:false /}
	</div>
</div>
#{/if}
#{if _as == 'topic'}
<div class="avatar">
	<div class="character-rank">
		#{if _avatar?.guildMember}<a href="@{Roster.index()}?rank=${_avatar?.guildMember?.rank?.rank}">
			<img class="noborder" src="/public/images/ranks/${_avatar?.guildMember?.rank?.rank}.png" height="16" width="16" alt="${_avatar?.guildMember?.name}s rank" />
		</a>#{/if}
	</div>
		#{name_with_link avatar:_avatar, as:'avatar', image:true /}
	<div class="character-name">
		#{name_with_link avatar:_avatar, as:'avatar', image:false /}
	</div>
</div>
#{/if}
#{if _as == 'member'}
<div class="avatar">
	<div class="character-rank">
		<a href="@{Roster.index()}?rank=${_avatar?.rank?.rank}">
			<img class="noborder" src="/public/images/ranks/${_avatar?.rank?.rank}.png" height="16" width="16" alt="${_avatar?.name}s rank" />
		</a>
	</div>
		#{name_with_link avatar:_avatar, as:'member', image:true /}
	<div class="character-name">
		#{name_with_link avatar:_avatar, as:'member', image:false /}
	</div>
</div>
#{/if}