<div class="avatar">
	<div class="character-rank">
		#{if _avatar.guildMember}<a href="@{Roster.index()}?rank=${_avatar.guildMember?.rank?.rank}">
			<img class="noborder" src="/public/images/ranks/${_avatar.guildMember?.rank?.rank}.png" height="16" width="16" alt="${_avatar.guildMember?.name}s rank" />
		</a>#{/if}
	</div>
	<a href="@{Char.show(_avatar.name)}">
		<img src="${_avatar.image}" height="84" width="84" alt="${_avatar.name}s avatar" />
	</a>
	<div class="character-name">
		<a href="@{Char.show(_avatar.name.toLowerCase().urlEncode())}"
			class="character character-_avatar character-unverified character-${_avatar.cclass.name.toLowerCase()} character-class-wow character-class-wow-${_avatar.cclass.name.toLowerCase()} character-name-${_avatar.name.toLowerCase()}">${_avatar.name}</a>
	</div>
</div>