#{list items:_shoppingCart?.entries, as:'recipe'}
	<div class="shoppingcart left">
		<div class="icon left">
			<a rel="@{Char.showItemTooltip(recipe.recipe.item?.itemId)}" class="item q${recipe.recipe.item?.itemQuality?.qualityId}" >
				<img src="/public/images/static/icons/${recipe.recipe.item.icon.icon.toLowerCase()}.png" height="96" width="96" alt="" />
			</a>
			<span class="item-count">${recipe.recipe.recCount}</span>
		</div>
		<div class="crafter" style="width: 44px;">#{list items:recipe.crafter, as:'avatar'}#{name_with_link avatar:avatar, as:'icon_shoppingcart' /}#{/list}</div>
	</div>
#{/list}
<div class="clear"></div>
<br />
<h2 class="nav_t">Benötigte Materialien</h2>
<div class="colBreak clear"></div>
<div class="shoppingcart-reagents">
#{list items:_shoppingCart?.reagents, as:'reagents'}
	#{recipe_reagent_icon_list reagents:reagents, as:'shoppingkart' /}
#{/list}
<div class="clear"></div>
</div>
