#{extends 'main.html' /}
#{set title: raiditem.item.name + ' - ' + guildTitle /}
#{set moreScripts:'<script type="text/javascript" src="/public/javascripts/raidtracker.js" charset="utf-8"></script><script type="text/javascript" src="/public/javascripts/jquery.dataTables.js" charset="utf-8"></script>'.raw() /}
#{set moreStyles:'<link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/raidtracker.css" /><link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/jquery.dataTables.css" />'.raw() /}
<div class="box">
	<div class="artheadline" style="background: black url(${randomArtwork})} no-repeat top center  !important;">
		<div class="artheadlinshadow">
			<div class="postdate"></div>
    		<h2 class="post-title">
    			<a href="@{RaidTracker.index()}" id="raiditem">${raiditem.item.name}</a>
			</h2>
		</div>
	</div>
	<div class="post">
        <div class="post-content">
        	<div class="clear"></div>
        	<div style="width:50%; float:left;">
				${raiditem.item.getTooltip().raw()}
			</div>
			<div style="width:50%; float:right;">
				<table cellpadding="0" style="width:100%;" cellspacing="0" border="0" class="display" id="example">
				<tbody>
				#{list items:items, as:'item'}
					<tr>
						<td style="text-align: right;"><span title="${item.time.format('HH:mm')}">${item.time.format('dd. MMMM yyyy', 'de')}</span></td>
						<td style="text-align: right;"><a href="@{RaidTracker.character(item.member.name.toLowerCase().urlEncode())}" 
						class="user-name character character-member character-unverified character-${item.member.name.toLowerCase()} 
						#{if item.member.name != "Bank" && item.member.name != "Entzaubert"} character-class-wow character-class-wow-${item.member.avatar.cclass.name.toLowerCase()} character-name-${item.member.avatar.name.toLowerCase()}#{/if}">${item.member.name}</a></td>
					</tr>									
					#{/list}
				</tbody>
				</table>
			</div>
     		<div class="colBreak clear"></div>
     		<br>
			<div class="clear"></div>
        </div>
	</div>
</div>
