<div id="char-banner-request">
<div class="register_avatar">
	<div class="avatar-box">#{avatar avatar:avatar, as:'avatar_with_class_icon' /}</div>
</div>
<div class="register_avatar_info">
	Du hast <span class="text-highlight">${avatar.name}</span> #{if avatar.guild != null}
	aus der Gilde <span class="text-highlight">${avatar.guild.name}</span> #{/if} 
	vom Server <span class="text-highlight">${avatar.realm.name}</span> ausgewählt, 
	wenn du dir sicher bist das dies dein World of Warcraft Charakter ist bestätige 
	es durch einen klick auf den Button "Mitglied werden!"
</div>
<div id="avatarId" style="display:none;">${avatar.id}</div>
</div>
