<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="icon" href="@{'/public/images/favicon.png'}" sizes="32x32">
        <link rel="shortcut icon" href="@{'/public/images/favicon.ico'}">

		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/guildbar.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/wow.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/style.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.18.custom.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/flexigrid.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/font-awesome.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/global.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/world-of-warcraft.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/shoutbox.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/menu.css'}" />
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/layout.css'}" />
		
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/highslide/highslide.css'}" />
		<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" charset="${_response_encoding}" media="screen" href="@{'/public/stylesheets/highslide/highslide-ie6.css'}" />
		<![endif]-->
		
        #{css output: "all"}
        #{/css}
        
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery-1.7.1.min.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery-ui-1.8.18.custom.min.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/highslide/highslide.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/highslide/highslide.config.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.hoverIntent.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/tiny_mce/tiny_mce.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/flexigrid.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/guild-tabard.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.cluetip.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.ae.image.resize.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/templating.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.scrollTo-min.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.form.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.cookie.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery.blockUI.js'}"></script>
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/superfish.js'}"></script>
		
		<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/global.js'}"></script>

		#{js output: "all"}
		#{/js}
</head>
    <body>
		<div id="dialog-nyi" title="Funktion noch nicht verfügbar" style="display:none;">
			<p>Diese Funktion ist noch nicht verfügbar</p>
		</div>
		<div id="user-online">
			
		</div>
		
		<div id="waitMessage" style="display:none;">
			<div id="waitMessageMiddle">
				<div id="waitMessageImage">
    				<img src="/public/images/peon.gif" />
    				<div id="waitMessageText">
    					Arbeit, Arbeit...
    				</div>
    			</div>
    		</div>
		</div> 
		
		
		<div class="guildbar">
			<ul class="link-bar">
				<li class="link-cell link-annoucement suckerfish">
					<a href="#" class="nyi" title="Ankündigungen">Ankündigungen</a>
					<ul class="section-drop">
						<li class="annoucement-message" "=""><span class="icon icon-annoucement"></span>World of Logs ( <a href="http://www.worldoflogs.com/guilds/189912/">more</a> )</li>
					</ul>
				</li>

		        <li class="link-cell link-messages ">
		            <a href="#" class="nyi" title="Private Nachrichten"><span>0</span></a>
				</li>

		        <li class="link-cell link-support">
		            <a href="#" class="nyi" title="Hilfe nötig?">Hilfe und Support</a>
				</li>
			</ul>

			#{if session.username && user != null && user.isAdmin}
			<!-- If Admin, Admin link group -->
			<ul class="admin-link-bar">
				<li class="admin-link-cell admin-link-cp">
					<a href="/admin" title="Einstellungen"><span class="icon ir">Control Panel Icon</span></a>
				</li>
			</ul>
			#{/if}
			<!-- Character bar -->
			<div class="user-box ">
				<ul class="user-meta group">
		            <li class="user-meta-cell user-meta-race">
		            	#{if session.username && user != null}
		                <span class="icon-16 character-${user.avatar.cclass.name.toLowerCase()} character-class-wow character-class-wow-${user.avatar.cclass.name.toLowerCase()} ir"></span>
		                <span class="icon-16 character-worgen character-race-wow character-race-wow-worgen character-female character-gender-wow character-gender-wow-female ir"></span>
		            	#{/if}
		            </li>
		            <li class="user-meta-cell user-meta-name">
		                #{if session.username && user != null}
		                <a href="@{Char.show(user.avatar.id, user.avatar.name, user.avatar.realm.name)}" id="register" class="no-tooltip user-name character character-member character-unverified character-${user.avatar.cclass.name.toLowerCase()} character-class-wow character-class-wow-${user.avatar.cclass.name.toLowerCase()} character-name-${user.avatar.name.toLowerCase()}">${user.avatar.name}</a>
		                <a href="@{Application.guild(user.avatar.guild.id,user.avatar.guild.name)}">${user.avatar.guild.name}</a>
		                #{/if}
		                #{else}
		                <a href="@{Application.register()}" id="register" class="no-tooltip user-name character character-member character-unverified">Mitglied Werden?</a>
		                <a href="@{Application.register()}">Klicke Hier!</a>
		                #{/else}
		            </li>
		            <li class="user-meta-cell user-meta-avatar">
		            	#{if session.username && user != null}
		                <a class="no-tooltip" href="@{Char.show(user.avatar.id, user.avatar.name, user.avatar.realm.name)}">
		                    <img id="login-welcome-avatar" class="welcome-avatar" alt="Avatar" src="${user.avatar.image}">
		                </a>
		                #{/if}
		            </li>
		            <li class="user-meta-cell user-meta-links suckerfish">
		            	#{if session.username && user != null}
		                <a href="#">User Links</a>
		                <ul class="section-drop">
		                    <li class="add-character"><a href="@{Member.index()}#tab-addchar">Char hinzufügen</a></li>
		                    <li><a href="@{Member.index()}#tab-character">Chars verwalten</a></li>
		                    <li class="separator ir">------------</li>
		                    <li><a href="@{Member.index()}#tab-settings">Einstellungen</a></li>
							<li><a href="/logout">Ausloggen</a></li>
                		</ul>
                		#{/if}
            		</li>
        		</ul>
			</div>
		</div>

		<div class="wrap">
			<div class="wrapper">
				<div id="header">
					<div id="header_t">
						<a href="@{Application.index()}"><img src="/public/images/bannerlogo.png"></a>
						<div id="daddy-shoutbox">
							<div id="daddy-shoutbox-list"></div>
							#{if session.username && user != null}
							<div id="daddy-shoutbox-div">
								<form id="daddy-shoutbox-form" action="/shoutbox/add" method="post">
									<span id="daddy-shoutbox-response"></span>
									<input type="hidden" name="nickname" value="${user.avatar.name}" /><input type="text" name="message" />
									<input type="hidden" name="submit" value="Submit" />
									<input type="image" src="/public/images/type_article.png" width="14" height="14">
								</form>
							</div>
							#{/if}
						</div>
					</div>

					
				</div>
				<div class="clear"></div>
				<div id="navigation">
					<div class="menu box">
						<div class="main-menu">
							<ul class="sf-menu">
								<li><a href="@{Application.index()}" class="${request?.controller == 'Application' ? 'current' : ''}" title="${guildTag} News">News</a></li>
								<li><a href="@{Roster.index()}" class="${request?.controller == 'MitgliederVerzeichnis' ? 'current' : ''}" title="${guildTag} Mitglieder">Mitglieder</a></li>
								<li><a href="@{Board.index()}" class="${request?.controller == 'Board' ? 'current' : ''}" title="${guildTag} Forum">Forum</a></li>
								<li><a href="#">Gilde</a>
						    		<ul>
						    			<li><a href="@{RaidTracker.index()}" class="${request?.controller == 'RaidTracker' ? 'current' : ''}" title="${guildTag} Raids">Raids</a></li>
										<li><a href="@{Recipes.index()}" class="${request?.controller == 'Recipes' ? 'current' : ''}" title="${guildTag} Rezepte">Rezepte</a></li>
										<li><a href="#nyi" class="nyi" title="${guildTag} Progress">Progress</a></li>
										<li><a href="@{Recruitments.index()}" class="${request?.controller == 'Recruitments' ? 'current' : ''}" title="${guildTag} &{'recruitment.title'}">&{'recruitment.title'}</a></li>
									</ul>
								</li>
	
								<!--  <li><a href="@{Progress.index()}" class="${request?.controller == 'RaidFortschritt' ? 'sel' : ''}" title="${guildTag} Progress">Progress</a></li> -->
								<li><a href="#nyi" class="nyi" title="${guildTag} Galerie">Galerie</a></li>
								<li class="last"><a href="#nyi" class="nyi" title="${guildTag} Kalender">Kalender</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div id="content_wrapper">
					#{if !fullSize}
					<div id="content_left">
						<div class="box">
							<div id="welcome-message">
								<h2 class="nav_t">Willkommen</h2>
								<div class="colBreak clear"></div>
								<div class="colBlurb">${guildWellcomemsg}<br></div>
							</div>
						</div>
						
						#{if !session.username}				
						<div class="box spacer">
						<div id="box-login">
							<h2 class="nav_t">Login</h2>
							<div class="colBreak clear"></div>
							
							#{form @SecureC.authenticate(), class: 'login_user_form'}
								
								#{if flash.error}
									<p id="box-login-error" class="msg error colBlurb">
										&{flash.error}
									</p>
								#{/if}
								#{if flash.success}
									<p id="box-login-success" class="msg success colBlurb">
										&{flash.success}
									</p>
								#{/if}
							
								<p id="username-field">
									<label class="username" for="username">Email</label>
									<input class="username" type="text" name="username" id="username" value="${flash.username}" />
								</p>
								<p id="password-field">
									<label class="password" for="password">Passwort</label>
									<input class="password" type="password" name="password" id="password" value="" />
								</p>
								<p id="remember-field">
									<label class="remember" for="remember">Merken</label>
									<input class="remember" type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
									
								</p>
						
									<input type="submit" id="box-login-signin" value="Einloggen" />
								
							#{/form}
						</div>
						</div>						
						#{/if}
        				
						<div class="box spacer">
							<div class="guildinfo">
								<h2 class="nav_t">Gildenstatus</h2>
								<div class="colBreak clear"></div>
								<div class="guildlogo">
									<canvas xmlns="http://www.w3.org/1999/xhtml" id="guild-tabard" width="150" height="150">
										<div class="guild-tabard-default "></div>
									</canvas>
									<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
							        //<![CDATA[
							
										$(document).ready(function() {
							
											var tabard = new GuildTabard('guild-tabard', {
							
												'ring': 'alliance',
							
												'bg': [ 0, 49 ],
							
												'border': [ 0, 15 ],
							
												'emblem': [ 164, 15 ]
							
											});
							
										});
							
							        //]]>
							        </script>
							    </div>
						        <ul class="guildinformation">
						            <li class="guildname">${guild.name}</li>
						            <li class="realmstatus">${realm.name} ${realm.status ? '(Up)' : '(Down)'} </li>
						            <li class="guildlevel">Level ${guild.level}</li>
						            <li class="guildmembers">${guild.members} Mitglieder</li>
						        </ul>
						        <br><br>
						        <h4 class="nav_t">Gilden Boni</h4>
						   		<ul class="guildperks">
						        	<li>
						            	<img src="http://eu.media.blizzard.com/wow/icons/56/${guildPerk.spell.get(0).icon}.jpg" title="${guildPerk.spell.get(0).description}" alt="${guildPerk.spell.get(0).description}">
						            	<span class="title">${guildPerk.spell.get(0).name}${guildPerk.spell.get(0).subtext ? ' ('+ guildPerk.spell.get(0).subtext +')' : ''}</span>
						            	<span class="level">Level ${guildPerk.guildLevel}</span>
        							</li>
   								</ul>
   								<br>
							</div>
						</div>
						
						<div class="box spacer">
							<div class="guildrank">
								<h2 class="nav_t">Gildenrang</h2>
								<div class="colBreak clear"></div>
					            <div class="ranked">
					                <div class="rank">   
					                    <span class="location">Realm</span>      
								        <span class="number">${guild.realm_rank}</span>
					                </div>
							        <div class="rank">   
					                    <span class="location">Region</span>      
								        <span class="number">${guild.area_rank}</span>
					                </div>
							        <div class="rank">   
					                    <span class="location">World</span>      
								        <span class="number">${guild.world_rank}</span>
                					</div>
            					</div>
           					</div>
           					<div class="inviscolBreak clear"></div>
						</div>
						<div class="box spacer">
							<div class="logs">
								<h2 class="nav_t">Logs</h2>
								<div class="colBreak clear"></div>
								<table style="margin: auto; width:210px;" id="inner">
								<thead>
								<tr>
									<td></td>
									<td><img src="/public/images/boss.png" height="16" title="Bosse"></td>
									<td><img src="/public/images/kills.png" height="16" title="Kills"></td>
									<td><img src="/public/images/wipes.png" height="16" title="Wipes"></td>
								</tr>
								</thead>
								<tbody>
					            #{list items:logs, as:'log'}
					            	<tr>
					            		<td><a href="http://www.worldoflogs.com/reports/${log.logId}" title="${log.getDuration()} am ${log.date.format('dd.MM.yyyy HH:m')}" target="_blank">${log.zones[0].name}</a></td>
					            		<td><span class="number boss log-boss" rel="@{Application.log(log.id)}">${log.bossCount}</span></td>
					            		<td><a href="http://www.worldoflogs.com/reports/${log.logId}/?enc=kills" title="Kills: ${log.killCount}" target="_blank"><span class="number kill">${log.killCount}</span></a></td>
					            		<td><a href="http://www.worldoflogs.com/reports/${log.logId}/?enc=wipes" title="Wipes: ${log.wipeCount}" target="_blank"><span class="number wipe">${log.wipeCount}</span></a></td>
					            	</tr>									
					            #{/list}
					            </tbody>
					            </table>
           					</div>
           					<div class="inviscolBreak clear"></div>
						</div>
					</div>
					#{/if}
					<div id="#{if fullSize}content_full#{/if}#{else}content_right#{/else}">
						#{doLayout /}
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="wrapper">
				<div id="footer_top">
					<div id="footer_top_t">Wer ist Online: <span id="whosOnline"><span id="noone">Keiner</span></span></div>
				</div>
				<!--<div id="footer_bottom">
					<div id="footer_bottom_t">Ich bin ein footer_bottom Text.</div>-->    
				</div>
			</div>
		</div>
    </body>
</html>
