<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Novus Ordo Mundi - Alphatest Seite</title>
<script type="text/javascript">
	setTimeout("changePage()", 1);
	function changePage() {
		if (self.parent.frames.length != 0) {
			self.parent.location = "http://microino.de:9000";
		} else {
			self.location = "http://microino.de:9000";
		}
	};
</script>
</head>
<body>
	<noscript>
		<h1>
			<a href="http://microino.de:9000/">Weiter zur Test Seite!</a>
		</h1>
	</noscript>
</body>
</html>